html
{
    scroll-behavior: smooth;
}

body
{
	font-family: 'Lato', sans-serif;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(226,226,255,1) 35%, rgba(238,252,255,1) 100%);
}



/*--------NAGŁÓWEK--------*/

header
{
	background-image: url("img/header-background.jpg");
	display: block;
	padding-bottom: 100px;
}

header h1
{
	float: left;
	width: 23%;
	min-width: 350px;
	font-family: 'Kalam', cursive;
	font-size: 45px;
	color: #7579FF;
	margin-left: 20px;
}

header h1 a
{
	display: block;
	width: 100px;
	height: 60px;
	margin: 5px 0;
	text-indent: -999em;
}

header nav
{
	float: right;
	width: 45%
}

header nav ul, header nav ul.visable
{
	display: table;
	width: 95%;
}

header nav ul li
{
	display: table-cell;
}

header nav li a
{
	display: block;
	height: 70px;
	line-height: 70px;
	font-size: 1.5em;
	color: #6BD1E8;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

header nav li a:hover
{
	background: #7579FF;
	color: #fff;
}



/*----------MENU----------*/

.switch
{
	display: none;
	background-color: #7cb029;
	color: #fff;
	padding: 10px 15px;
	float: right;
	font-size: 1.4em;
	text-decoration: none;
}



/*---------SEKCJA---------*/

section
{
	clear: both;
	margin-bottom: 100px;
	margin-left: 50px;
	margin-right: 50px;
	display: block;
	float: left;
}

article h1
{
	font-family: 'Kalam', cursive;
	font-size: 35px;
	color: #7579FF;
}

article p
{
	font-size: 25px;
	text-align: justify;
}

article ul
{
	font-size: 20px;
}

article img
{
	float: right;
	width: 170px;
	margin-left: 15px;
}

.container
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.ramka
{
	width: 44%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	border-radius: 0px 15px 15px 15px;
	-moz-border-radius: 0px 15px 15px 15px;
	-webkit-border-radius: 0px 15px 15x 15px;
	border: 1px solid #000000;
	background-color: #1cbae6;
}

.ramka h2
{
	text-decoration: bold;
	text-align: center;
}

.ramka p
{
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
/*---------FORMULARZ---------*/
form {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}
form .message-details, form .travel-details {
	float: left;
	width: 46%;
	padding: 2%;
	height: auto;
}
form .contact-1, form .contact-2 {
	float: left;
	width: 46%;
	padding: 2%;
	height: auto;
}
label {
	color: #7b7b7b;
}

input#fullname {
	outline: none;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px; 
}
input#fullname:hover label {
	color: #000000;
} 
input, select, textarea {
	outline: none;
	width: 100%;
	max-width: 100%;
	height: 35px;
	font-size: 1.05vw;
	margin-bottom: 20px; 
    border: 1px solid #cccccc;
    padding-left: 5%;
}
input#people {
    width: 10% !important;
}
textarea {
	min-height: 250px;
    padding: 3% 0 0 5% !important;
    resize: none;
}
fieldset {
	border: none;
	padding: 30px;
}
legend {
    margin-left: -20px !important;
    text-transform: uppercase;
    font-size: 0.95em;
    letter-spacing: 0.04em;
    font-weight: 300;
}
form button {
    clear: both;
    display: block;
    padding: 5px 18px;
    background-color: transparent;
    border: 1px solid #3b3b3b;
    color: #3b3b3b;
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    font-weight: 500;
    outline: none;
    margin: 0 auto;
}
form button:hover {
    clear: both;
    display: block;
    padding: 5px 18px;
    background-color: #3b3b3b;
    border: 1px solid #3b3b3b;
    color: #ffffff;
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;
}
#price {
    background: #f1f1f1;
    color: #3e3e3e;
    padding: 10px 15px;
    text-align: center;
    display: none;
}
#price strong {
    font-weight: 900;
    color: green;
}
#error {
	background: #f1f1f1;
    color: red;
    padding: 10px 15px;
    text-align: center;
    display: none;
}
#error strong {
    font-weight: 900;
}
.contact-2 textarea {
	min-height: 145px;
	width: 1000px;
    padding: 3% 0 0 5% !important;
    resize: none;
}
/*---------STOPKA---------*/

footer
{
	clear: both;
	width: 100%;
	float: left;
	display: block;
	background-color: #3b3b3b;
	color: white;
	font-size: 25px;
}

footer .stopka
{
	float: left;
	width: 30%;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
footer a {
	color: white;
}